.videoPreviewContainer {
  background-color: azure;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.configContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}